.gallery {
  .header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    border-bottom: 15px solid #fff;
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    margin-top: 10px;
    // width: 100%;
    &+.flex-gallery {
      padding-top: 25px;
    }
    &.sticky {
      
    }
    div {
      flex: 50%;
      label > input {
        height: 30px;
        &.form-control:focus {
          box-shadow: none;
        }
      }
    }
  }

  .btn:focus {
    box-shadow: none!important;
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .flex-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

    .flex-item {
      flex: 25%;
      //max-width: 25%;
      padding: 0 4px;
      img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
    }
    @media screen and (max-width: 800px) {
      .flex-item {
        flex: 50%;
        //max-width: 50%;
      }
    }
    @media screen and (max-width: 600px) {
      .flex-item {
        flex: 100%;
        //max-width: 100%;
      }  
    }
  }
}
