.questions-container {
    margin: 20px auto;
    padding: 50px; 
    background-color: #fbfbfb;
    box-shadow: 2px 3px 4px #e1e1e1;
    text-align: center;
    justify-content: center;
    min-height: 500px;
    .question-counter {
        justify-content: center;
        li {
            font-size: 14px;
            padding: 2px 4px;
            background: #e0e6ed;
            color: #fff;
            border-radius: 50%;
            margin: 0px 10px;
            height: 25px;
            width: 25px;
            
            &.active {
                cursor: pointer;
                background-color: #4caf50;
            }
            &.double-digit {
                padding: 2px 0;
            }
        }   
    }
    
    .error {
        color: #e01;
    }

    .question-content-row {

        .question-header {
            .topic {
                font-size: 20px;
            }
            .question-label {
                color: #8492a6;
                font-size: 24px;
                font-weight: 500;
            }
        }
        .question-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {width: 100%;}
            a {
                text-decoration: none;
                color:#d5d5d5;    
                font-size: 18px;
                .fa-60{
                    font-size: 60px;
                }
                .active, &.active {
                    cursor: pointer;
                    color: #4caf50;
                }
                &:hover,&:visited {
                    cursor: pointer;
                    color: #00a651;
                }
            }
        }
        .previous {
            i {
                color: #ec82ac;
                cursor: pointer;
            }
        }
    }
}

.mrg-5 {
    margin: 50px auto;
}
.mrg-4 {
    margin: 40px auto;
}
.mrg-3 {
    margin: 30px auto;
}
.mrg-2 {
    margin: 20px auto;
}