<h1 class="text-center mt-5">Welcome to Angular Forms demo</h1>
<div class="hp-container">
    <div class="row">
        <div class="col-sm-6 mb-2">
            <a role="button" routerLink="/template-form" class="btn btn-warning btn-lg">Template Form</a>
        </div>
        <div class="col-sm-6 mb-2">
            <a role="button" routerLink="/reactive-form" class="btn btn-primary btn-lg">Reactive Form</a>
        </div>
        <div class="col-sm-6 mb-2">
            <a role="button" routerLink="/logins" class="btn btn-danger btn-lg">Social Logins</a>
        </div>
        <div class="col-sm-6 mb-2">
            <a role="button" routerLink="/gallery" class="btn btn-info btn-lg">See Gallery</a>
        </div>
    </div>
</div>