<div class="gallery">
    <div class="header sticky">
        <div style="line-height: 1;">
            <h4>Responsive Image Grid</h4>
            <p>Select grid layout</p>
            <button class="btn btn-outline-primary mr-2" [ngClass]="{'active btn-lg': this.flexSize=='100%'}"
                (click)="changeFlexSize('100%')">1</button>
            <button class="btn btn-outline-success mr-2" [ngClass]="{'active btn-lg': this.flexSize=='50%'}"
                (click)="changeFlexSize('50%')">2</button>
            <button class="btn btn-outline-danger mr-2" [ngClass]="{'active btn-lg': this.flexSize=='33.3%'}"
                (click)="changeFlexSize('33.3%')">3</button>
            <button class="btn btn-outline-warning mr-2" [ngClass]="{'active btn-lg': this.flexSize=='25%'}"
                (click)="changeFlexSize('25%')">4</button>
            <button class="btn btn-outline-info mr-2" [ngClass]="{'active btn-lg': this.flexSize=='20%'}"
                (click)="changeFlexSize('20%')">5</button>
        </div>
        <div style="line-height: 2;">
            <h4>Load More Images Using</h4>
            <label for="button" class="mr-3">Button
                <input type="radio" name="loadType" [checked]="this.loadMoreButton" class="form-control mr-2"
                    value="button" (click)="changeLoadType('button')">
            </label>
            <label for="scroll">Scroll
                <input type="radio" name="loadType" [checked]="!this.loadMoreButton" class="form-control" value="scroll"
                    (click)="changeLoadType('scroll')">
            </label>
        </div>
        <div style="line-height: 3;">
            <h4>Images to be Load per Load More</h4>
            <button class="btn btn-outline-info mr-2" [ngClass]="{'active btn-lg': this.loadSize==10}"
                (click)="changeLoadSize(10)">10</button>
            <button class="btn  btn-outline-danger mr-2" [ngClass]="{'active btn-lg': this.loadSize==20}"
                (click)="changeLoadSize(20)">20</button>
            <button class="btn btn-outline-warning mr-2" [ngClass]="{'active btn-lg': this.loadSize==30}"
                (click)="changeLoadSize(30)">30</button>
            <button class="btn btn-outline-primary mr-2" [ngClass]="{'active btn-lg': this.loadSize==40}"
                (click)="changeLoadSize(40)">40</button>
            <button class="btn btn-outline-success mr-2" [ngClass]="{'active btn-lg': this.loadSize==50}"
                (click)="changeLoadSize(50)">50</button>
        </div>
    </div>
    <div class="flex-gallery" appScroll (scrollingFinished)="onScrollingFinished()" *ngIf="!this.loadMoreButton">
        <ng-container *ngFor="let item of imageData$ | async; let i=index">
            <div class="flex-item" [ngStyle]="{'flex':this.flexSize}">
                <img src="{{item.url}}" [dataSrc]="item.url" alt="{{item.title}}" class="img-responsive {{i}}"
                    applazyload>
            </div>
        </ng-container>
    </div>
    <div class="flex-gallery" *ngIf="this.loadMoreButton" #loadDiv>
        <ng-container *ngFor="let item of imageData$ | async; let i=index">
            <div class="flex-item" [ngStyle]="{'flex':this.flexSize}">
                <img src="{{item.url}}" [dataSrc]="item.url" alt="{{item.title}}" class="img-responsive {{i}}"
                    applazyload>
            </div>
        </ng-container>
    </div>
    <div class="btn-wrapper">
        <button class="btn btn-outline-dark btn-lg btn-block m-5" *ngIf="this.loadMoreButton"
            (click)="onScrollingFinished()">Load More</button>
    </div>
</div>