.reactive-form-container {
    margin: 20px auto;
    padding: 50px; 
    background-color: #e4dede;
    box-shadow: 2px 3px 4px #e1e1e1;

    // label {
    //     display: inline;
    //     text-transform: capitalize;
    // }
    // input.ng-invalid.ng-touched{
    //     border:1px solid red;
    // }
}