<ng-container *ngIf="isReactive" [ngSwitch]="elem2.type" [formGroup]="registrationForm">

    <input *ngSwitchCase="'radio'" type="radio" value="{{x}}" name="{{elem2.name}}" formControlName="{{elem2.name}}"
        class="{{elem2.class}}" required="{{elem2.required}}" />

    <input *ngSwitchCase="'checkbox'" type="checkbox" name="{{elem2.name}}" formControlName="{{elem2.name}}"
        class="{{elem2.class}}" value="{{elem2.name}}" required="{{elem2.required}}" />

    <select *ngSwitchCase="'select'" name="{{elem2.name}}" formControlName="{{elem2.name}}" class="{{elem2.class}}"
        value="{{elem2.name}}" required="{{elem2.required}}">
        <option value="">Select</option>
        <option *ngFor="let opt of elem2.option" value="{{opt}}">{{opt}}</option>
    </select>

    <input *ngSwitchDefault placeholder="{{elem2.label}}" type="{{elem2.type}}" value="" name="{{elem2.name}}"
        formControlName="{{elem2.name}}" class="{{elem2.class}}" required="{{elem2.required}}" />

</ng-container>

<ng-container *ngIf="!isReactive" [ngSwitch]="elem2.type">

    <input *ngSwitchCase="'radio'" type="radio" value="{{x}}" name="{{elem2.name}}" ngModel class="{{elem2.class}}"
        required="{{elem2.required}}" />

    <input *ngSwitchCase="'checkbox'" type="checkbox" name="{{elem2.name}}" ngModel class="{{elem2.class}}"
        value="{{elem2.name}}" required="{{elem2.required}}" />

    <select *ngSwitchCase="'select'" name="{{elem2.name}}" ngModel class="{{elem2.class}}" value="{{elem2.name}}"
        required="{{elem2.required}}">
        <option value="">Select</option>
        <option *ngFor="let opt of elem2.option" value="{{opt}}">{{opt}}</option>
    </select>

    <input *ngSwitchDefault placeholder="{{elem2.label}}" type="{{elem2.type}}" value="" name="{{elem2.name}}" ngModel
        class="{{elem2.class}}" required="{{elem2.required}}" />

</ng-container>